{% extends "base.html" %}
{% block content %}
<h2>Update exemplary sequence</h2>
<form action="admin.php" method="POST" class="form">
  <div class="form-group">
    <label for="exemplar">Sequence</label>
    <textarea name="exemplar" class="form-control" placeholder="Enter here new sequence..."></textarea>
  </div>
  <input class="btn btn-primary" type="submit" value="Send" />
</form>
<h2>Submitted sequences</h2>
<table class="table table-striped">
    {% for url, submission in submissions %}
    <tr><td>
        <a href="admin.php?submission={{ url }}">
            {{ submission }}
        </a>
    </td></tr>
    {% endfor %}
</table>

{% endblock %}
